/* All CSS goes here */
body{
    font-family: "Courier New", monospace;
    background-color: #ffdcef;
}

/* SIDENAV PROPERTIES */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
}

 .sidenav a, p {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    color: #534c4f;
    display: block;
  }

  .sidenav a:hover {
    color: #ff74b5;
  }

  #name {
    font-size: 32px;
    padding-bottom: 20px;
  }

/* MAIN OVERVIEW */
  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    margin-right: 3%;
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 10px 10px;
    padding-left: 50px;
  }

  .home-image {
    padding-top: 5%;
    padding-left: 25%;
  }

  /* Grid properties */
  /* PHOTO  */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    row-gap: 5%;
  }

  .grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: center;
  }

  .Exit {
    text-align: right;
  }

  .grid-item img { 
    object-fit: cover;
  }


  #about {
    padding-top: 50px;
    padding-left: 50px;
  }




  