/* All CSS goes here */
body{
    font-family: "Courier New", monospace;
    background-color: #ffeef6;
}

/* SIDENAV PROPERTIES */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 30px;
}

 .sidenav a {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-weight: 100;
    font-size: 18px;
    color: #534c4f;
    display: block;
  }

  .sidenav a:hover {
    color: #ff74b5;
  }

  #name {
    font-size: 32px;
    padding-bottom: 20px;
  }

/* MAIN OVERVIEW */
  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    margin-right: 3%;
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 10px 10px;
    padding-bottom: 150px;
    padding-top: 40px;
    padding-left: 50px;
  }

  .home-image {
    padding-left: 20%;
  }

  .about-image {
    padding-top: 50px;
    padding-left: 50px;
  }
